.header{
  font-size: 2.5rem;
  text-align: center;
}
.post{
  border: 1px solid blue;
  color: black;
  border-radius: 20px;
  margin: 5px;
  padding: 1rem;
  width: 32%;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 1rem;

}
.header h2{
  font-size: 2rem;
}
.header a {
  font-size: 3rem;
  margin: 10px;
}
.wrapper{
  border: 1px solid blue;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  position:relative;
  left: 25%;
}
.pageHeader{
  background-color: blanchedalmond;
  color: black;
  padding: 15px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 810px) {
  .post{
    width:45%
  }
}
@media only screen and (max-width: 610px) {
  .post{
    width:100%
  }
}
